<header>
<p style="padding: 0;margin: 0;"><a href="/"><b>Articles</b></a></p>
<ul style="padding: 0;margin: 0;">
  <li><a href="/projects">Projects</a></li>
  <li><a href="/about">About</a></li> 
</ul>
</header>
<hr class="hr-list" style="padding: 0;margin: 0;">